* {
    box-sizing: border-box;
}
body {
    background-image: url(./images/cardbackground.jpg);
    text-align: center;
    min-width: 100vh;
    min-height: 100vh;
}
#game-board {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(2, calc(100px / 2 * 5));
    border-radius: 5px solid #000000;

}
.ballcards {
    position: relative;
    width: 100px;
    height: calc(100px / 2 * 5);
    transform-style: preserve-3d;
    transition: all 1.0s ease-in-out;
}
h1 {
    color: #f0f8ff;
    font-family: cursive;
    display: flex;
    justify-content: center;
}
h3 {
    color: #ff0000;
    font-family: cursive;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 0px 20px;
}
.restart-button button {
     background-color: #008000;
}
.front-image {
    width: 100px;
    height: calc(100px / 2 * 5);
}

.ballcards.flipped { 
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.ballcards, .front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballcards, .back {
    background-image: url(./images/hhhhh.png);
    background-position: center;
    background-size: cover;
    
}